#toolbar{
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	height: 10%;
	color: #AAAAAA;
	background-color: #222222;
}
#canvas{
	position: absolute;
	top: 10%;
	left: 0px;
	right: 0px;
	bottom: 10%;
	width: 100%;
	height: 80%;
	max-height: ;
	background-color: #000000;
	image-rendering: pixelated;
    image-rendering: crisp-edges;
}
#colorbuttons{
	position: absolute;
	left: 0px;
	right: 0px;
	bottom: 0px;
	height: 10%;
	background-color: blue;
	background-color: #222222;
}
.popup {
	height: 50%; width: 75%;
	
	position: absolute;
	left: 12.5%;
	right: 12.5%;
	bottom: 25%;
	top: 25%;
	
	color: #AAAAAA;
	background-color: #222222;
	padding: 10px;
	border-style: outset;
	border-color: #444444;
	
	display: none;
}
html, body {
	margin: 0px;
	padding: 0px;
	background-color: #222222;
	overflow: hidden;
}
.button{
	margin: 0px;
	padding: 5px;
	cursor: pointer;
	text-align: center;
	background-color: #222222;
	color: #AAAAAA;
}
.button:hover {
	background-color: #555555;
}

.button:active {
	background-color: #000000;
}
.input{
	color: #AAAAAA;
	background-color: #222222;
}